<div class="min-h-dvh flex">
  <!-- Sidebar -->
  <aside
    class="w-64 shrink-0 border-r bg-white hidden md:block"
    [ngClass]="{ block: sidebarOpen(), 'hidden md:block': !sidebarOpen() }"
  >
    <div class="flex flex-col items-center bg-red-500">
      <div class="w-10 h-10">2</div>
    </div>
    <!-- <div class="p-4 font-semibold">My App</div> -->
    <nav class="px-2 py-2 space-y-1">
      <a
        routerLink="/home"
        routerLinkActive="bg-gray-100"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block rounded px-3 py-2 hover:bg-gray-50 bg-second"
        >Home</a
      >
      <a
        routerLink="/about"
        routerLinkActive="bg-gray-100"
        class="block rounded px-3 py-2 hover:bg-gray-50"
        >About</a
      >
      <a
        routerLink="/project"
        routerLinkActive="bg-gray-100"
        class="block rounded px-3 py-2 hover:bg-gray-50"
        >Project</a
      >
    </nav>
  </aside>

  <!-- Main -->
  <div class="flex-1 flex flex-col">
    <!-- Topbar -->
    <header class="h-14 border-b flex items-center gap-2 px-4">
      <button class="md:hidden rounded p-2 border" (click)="toggleSidebar()">☰</button>
      <h1 class="font-medium">Dashboard สวัสดีครับพี่ชาย</h1>
      <div class="ml-auto text-sm text-gray-500">Signed in as you</div>
    </header>

    <!-- Page content -->
    <main class="p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
